<footer class="color-background-white">
    <div class="container">
        <div class="col-md-4 col-xs-6 title">
            <ul>
                <li>Made with lot of <i class="fa fa-heart"></i> by <a href="http://hexagone.com.mx" target="_blank">Hexagone</a></li>
                <li><div class="logo-sheaker"></div></li>
            </ul>
        </div>
        <div class="col-md-4 col-xs-6">
            <div class="col-md-6">
                <ul>
                    <li><a href="#" translate>APP.HOME</a></li>
                    <li><a href="#" translate>APP.PRODUCT</a></li>
                    <li><a href="#" translate>APP.PRICING</a></li>
                    <li><a href="#" translate>APP.CREATE_2</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li><a href="#" translate>APP.STATUS</a></li>
                    <li><a href="#" translate>APP.CONTACT_US</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6">
            <ul>
                <li>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x"></i>
                    </span>
                    <a href="https://www.facebook.com/hexagonemx" target="_blank">Facebook</a>
                </li>
                <li>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                    <a href="https://twitter.com/hexagonemx" target="_blank">Twitter</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
