<footer class="color-background-white">
    <div class=container>
        <div class="col-lg-4 title">
            <ul>
                <li>2015 Sheaker | by <a href="http://hexagone.com.mx" target="_blank">Hexagone</a></li>
                <li><div class="logo-sheaker"></div></li>
            </ul>
        </div>
        <div class="col-lg-4">
            <div class="col-lg-6">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Price</a></li>
                    <li><a href="#">Sign up</a></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <ul>
                <li>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x"></i>
                    </span>
                    <a href="#">Facebook</a>
                </li>
                <li>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                    <a href="#">Twitter</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
