.navbar {
    padding-top: 10px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    text-shadow: 1px 1px 4px rgba(150, 150, 150, 1);
}
.navbar-default .navbar-nav {
    font-size: 30px;
}
.navbar-default .navbar-nav > li > a {
    margin-top: 40px;
    margin-left: 30px;
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #e4e4e4;
}

.navbar-default .navbar-nav > li > a:active {
    color: #e4e4e4;
}
.navbar-default .navbar-header > a {
    font-size:45px;
    color: #fff;
}
.navbar-default .navbar-header > a:hover {
    color: #e4e4e4;
}

.navbar-brand {
    background-image: url('//static.sheaker.com/sheaker/assets/images/logo-cover-phone.png');
    padding: 13.5px 15px 12.5px
    display: inline;
    margin-top: 10px;
    width: 79px;
    height: 70px;
}
@media(min-width:1024px) {
    .navbar-brand{
        background-image: url('//static.sheaker.com/sheaker/assets/images/logo-cover.png');
        width: 163px;
        height: 60px;
    }
}
