<nav class="navbar navbar-default" ng-controller="NavbarController">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a ui-sref="app.main({locale: getLocale()})" class="navbar-brand"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right strong">
            <li><a ui-sref="app.product({locale: getLocale()})" translate>APP.PRODUCT</a></li>
            <li><a ui-sref="app.pricing({locale: getLocale()})" translate>APP.PRICING</a></li>
            <li><a ui-sref="app.create({locale: getLocale()})" class="navbar-btn strong" translate>APP.CREATE</a></li>
        </ul>
    </div>
</nav>
