.navbar {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    height:60px;
}
.navbar-default .navbar-nav {
    font-size: 17px;
    margin-top: 15px;
}
.navbar-default .navbar-nav > li > a {
    margin-left: 30px;
    color: #e4e4e4;
    margin-top: 0px;
    border-width: 2px;
    border-radius: 5px;
    height: 45px;
    margin-top: 3px;
    padding-top: 10px;
    border-color: transparent;
    border-style: solid;
}

.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background-color: rgba(102, 102, 102, 0.2);
}

.navbar-default .navbar-nav > li > .navbar-btn:active,
.navbar-default .navbar-nav > li > .navbar-btn:hover {
  border-color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > .navbar-btn {
  border-color: #e4e4e4;
  border-style: solid;
}

.navbar-btn:hover {
    border-color: #fff;
}

.navbar-brand {
    background-image: url('//static.sheaker.com/sheaker/assets/images/brand.png');
    padding: 13.5px 15px 12.5px
    display: inline;
    margin-top: 20px;
    width: 150px;
    height: 39px;
    margin-top: 20px;
    margin-left: 20px;
}
@media(min-width:1024px) {
    .navbar-brand{
        background-image: url('//static.sheaker.com/sheaker/assets/images/brand.png');
        width: 150px;
        height: 39px;
        margin-top: 20px;
        margin-left: 20px;
    }
}

#navbar-extend {
  background-color: #fff;
  border-bottom: 1px solid #DDD;
}

#navbar-extend  .navbar-default .navbar-nav > li > a {
    color: #404B55;
    opacity: .8;
    font-weight: 700;
    border-radius: 8px;
    border-color: #fff;
}

#navbar-extend .navbar-default .navbar-nav > li > .navbar-btn {
  color: #f54785;
  background-color: #fff;
  border-width: 3px;
  border-color: #f54785;
}

#navbar-extend .navbar-default .navbar-nav > li > a:active,
#navbar-extend .navbar-default .navbar-nav > li > a:hover {
    background-color: rgba(102, 102, 102, 0.2);
}

#navbar-extend .navbar-default .navbar-nav > li > .navbar-btn:active,
#navbar-extend .navbar-default .navbar-nav > li > .navbar-btn:hover {
  background-color: #f54785;
  color: #fff;
}

#navbar-extend .navbar-brand{
    background-image: url('//static.sheaker.com/sheaker/assets/images/brandcolor.png');
}
