<nav class="navbar navbar-default" ng-controller="NavbarController"  ng-class="{'nav-mobile-margin': MobileMenuState}">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" ng-click="openMobileMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a ui-sref="app.main" class="navbar-brand"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right strong">
            <li><a ui-sref="app.product" translate>APP.PRODUCT</a></li>
            <li><a ui-sref="app.pricing" translate>APP.PRICING</a></li>
            <li><a ui-sref="app.create" class="navbar-btn strong" translate>APP.CREATE</a></li>
        </ul>
    </div>
    <div id="navmobile" ng-show="MobileMenuState">
      <ul class="nav nav-mobile strong">
          <li><a ui-sref="app.product" translate>APP.PRODUCT</a></li>
          <li><a ui-sref="app.pricing" translate>APP.PRICING</a></li>
          <li><a ui-sref="app.create" class="navbar-btn strong" translate>APP.CREATE</a></li>
      </ul>
    </div>
</nav>
