/* Landing section */
#landing-zone-head
{
  background-color: #00B0B9;
  background-image: url('/assets/images/fontLanding.png');
  margin-bottom: 0px;
}

#landing-zone-head .content
{
  color : #fff;
  padding-top: 70px;
  padding-bottom: 30px;
  width: 980px;
  margin: auto;
}

#landing-zone-head .title
{
  color : #fff;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 25px;
}

#landing-zone-head h3
{
  font-size: 20px;
}

#landing-zone-head .pink-box
{
  background-color: #f54785;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

#landing-zone-head .description
{
  font-size: 20px;
}

#landing-zone-head .description i
{
  margin-right: 10px;
}

#landing-zone-head .description p
{
  font-weight: 500;
  margin-bottom: 0px;
}

#landing-zone .mockup-landing
{
  background-image: url('/assets/images/mockuplanding.png');
  height: 246px;
  width: 350px;
}

#landing-zone
{
  color: #f54785;
}

#landing-zone .content
{
  width: 980px;
  margin: auto;
  margin-bottom: 40px;
}

#landing-zone .text
{
  font-size: 20px;
  font-weight: 500;
  padding-top: 30px;
}

#landing-zone .text i
{
  font-size: 30px;
  font-weight: 500;
}

.mockup-list
{
  background-image: url('/assets/images/mockuplist.png');
  height: 271px;
  width: 899px;
  margin: auto;
  margin-bottom: 40px;
}

#landing-zone-head .pict-screen
{
  background-image: url('/assets/images/lockuphomeipad.png');
  height: 290px;
  width: 800px;
  margin: auto;
}

#landing-zone-head .result-check
{
  color: #f54785;
  font-size: 25px;
}

#landing-zone-head .text
{
  margin-top: 50px;
}

#landing-zone-head .form-create {
  background-color: rgba(174,180,180,.6);
  padding: 20px;
  border-radius: 5px;
}

#landing-zone-head .form-create label{
    font-size : 17px;
    font-weight: 400;
}

#landing-zone-head .form-create input{
    height: 50px;
    font-size : 22px;
    font-weight: 400;
}

#landing-zone-head .btn-submit {
    margin-top: 30px;
    font-size : 25px;
    color: #f54785;
    background-color: #fff;
}

#landing-zone-head .btn-submit:hover {
    margin-top: 30px;
    font-size : 25px;
    color: #fff;
    background-color: #f54785;
}

/*
 * Welcome section
 */
.welcome-wrap {
    position: relative;
    background: none;
    color: #fff;
}
.welcome-wrap section {
    top: 0;
    left: 0;
}
.welcome-background {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e88e5+0,d9eaf9+100 */
    background: rgb(30,136,229); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(30,136,229,1) 0%, rgba(217,234,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,136,229,1)), color-stop(100%,rgba(217,234,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(30,136,229,1) 0%,rgba(217,234,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(30,136,229,1) 0%,rgba(217,234,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(30,136,229,1) 0%,rgba(217,234,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(30,136,229,1) 0%,rgba(217,234,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e88e5', endColorstr='#d9eaf9',GradientType=0 ); /* IE6-9 */

    width: 100%;
    height: 420px;
    background-position: center bottom;
}
/*@media(min-width:800px) {
    .welcome-background {
        height: 800px;
    }
}*/

@media(min-width:800px) {
    .welcome-background {
        height: 0px;
    }
}

#welcome .title {
    font-weight: 900;
    font-size: 30px;
}

#welcome .title span {
    display: block;
}

#welcome .title .upper {
        font-family: 'Lato', sans-serif;
        font-size: 38px;
        padding: 30px;
        letter-spacing: 0px;
        line-height: 50px;
}
@media(min-width:800px) {
    #welcome .title .upper {
            font-family: 'Lato', sans-serif;
            font-size: 55px;
            letter-spacing: -1px;
            line-height: 100px;
    }
}

#welcome .title .upper-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0px;
}

@media(min-width:800px) {
    #welcome .title .upper {
            font-family: 'Lato', sans-serif;
            font-size: 55px;
            letter-spacing: -1px;
            line-height: 100px;
    }
}


/*@media(min-width:1217px) {
    #intro .section-divider p{
        padding-top: 60px;
    }
}*/

/* Carousel */
.carousel {
    display: none;
}
@media(min-width:800px) {
    .carousel {
        display: block;
        position: absolute;
        left: calc(50% - 400px);
        bottom: 0;
        width: 800px;
        height: 480px;
    }
}

.carousel-caption {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;

    background: -moz-linear-gradient(top,  rgba(41,137,216,0) 0%, rgba(112,176,229,0) 33%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,137,216,0)), color-stop(33%,rgba(112,176,229,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(41,137,216,0) 0%,rgba(112,176,229,0) 33%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(41,137,216,0) 0%,rgba(112,176,229,0) 33%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(41,137,216,0) 0%,rgba(112,176,229,0) 33%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(41,137,216,0) 0%,rgba(112,176,229,0) 33%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002989d8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.carousel-control {
    display: none;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-indicators{
    top: -20px;
 }

 .carousel-indicators .active,
 .carousel-indicators li{
     margin-right: 5px;
  }

.carousel-caption > .explain-caption{
    position: absolute;
    bottom: 10px;
    left: calc( 50% - 175px);
    text-align: left;
    font-size: 21px;
    color: #4a4a4a;
    text-shadow: none;
}

.carousel-caption > .explain-caption > .slide {
    color: #4A4A4A;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 20px 0px #ffffff;
    -webkit-box-shadow: 0px 0px 20px 0px #ffffff;
    -o-box-shadow: 0px 0px 20px 0px #ffffff;
    box-shadow: 0px 0px 20px 0px #ffffff;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff, Direction=NaN, Strength=20);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.carousel-caption > .explain-caption > .slide-1{
    width: 250px;
    height: 100px;
    margin-left: -150px;
    margin-top: -150px;
}

.carousel-caption > .explain-caption > .slide-2{
    width: 250px;
    height: 100px;
    margin-left: 200px;
    margin-top: -170px;
}

.carousel-caption > .explain-caption > .slide-3{
    width: 250px;
    height: 100px;
    margin-left: -150px;
    margin-top: -200px;
}

/* End Carousel */
