    <section id="navbar-extend">
      <div ng-include="'app/components/navbar/navbar.html'"></div>
    </section>
    <section id="landing-zone-head">
      <div class="content row">
        <div class="col-md-8 text">
          <div class="title">Les salles de sports sont gere ici</div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."<br>
            <i class="color-pink"><h2><b>Gratuit</b><h2></i>
          </div>
        </div>
        <div class="col-md-4">
          <form name="createForm" class="form-create col-lg-12">
              <div class="form-group">
                  <input type="text" class="form-control" id="InputName" ng-model="formDatas.gym_name" placeholder="Gym name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="InputEmail" ng-model="formDatas.email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="InputPassword" ng-model="formDatas.password" placeholder="Password" required>
              </div>
              <button class="btn btn-submit col-lg-12">Create</button>
        </form>
      </div>
      </div>
      <div class="pict-screen"></div>
    </section>
    <section id="landing-zone">
      <div class="content row">
        <div class="col-lg-offset-1 col-md-7 text color-pink">
          <p><i class="fa fa-check"></i> Simplicite, une interface ergonomic et intuitive</p>
          <p><i class="fa fa-check"></i> Tout les outils nessecaire pour gerer votre salle de sport</p>
          <p><i class="fa fa-check"></i> Les informations dont vous avez besoins</p>
        </div>
        <div class="col-md-4">
          <div class="mockup-landing"></div>
        </div>
    </section>
        <!--<div class="welcome-wrap welcome-background">
      <section id="welcome">
          <div class="title text-center">
              <span class="upper" translate>“{{ 'MAIN.WELCOME.TITLE' }}”</span>
              <span class="upper-description" translate>MAIN.WELCOME.DESCRIPTION</span>
          </div>
          <carousel interval="carousel.interval" no-wrap="carousel.noWrapSlides">
              <slide ng-repeat="s in carousel.slides" active="s.active">
                  <img ng-src="{{ s.image }}" style="margin:auto;">
                  <div class="carousel-caption">
                      <div class="explain-caption">
                          <div class="slide slide-1" ng-show="s.text1" translate="{{ s.text1 }}"></div>
                          <div class="slide slide-2" ng-show="s.text2" translate="{{ s.text2 }}"></div>
                          <div class="slide slide-3" ng-show="s.text3" translate="{{ s.text3 }}"></div>
                      </div>
                  </div>
              </slide>
          </carousel>
      </section>
</div>

<section id="features">
    <div class="container features-container">
      <h1 translate>MAIN.FEATURES.TITLE</h1>
        <div class="row row-no-margin">
            <div class="feature col-lg-4 col-sm-6">
                <h3><i class="fa fa fa-users color-yellow"></i> {{ 'MAIN.FEATURES.FEATURES.MANAGE.TITLE' | translate }}</h3>
                <p translate>MAIN.FEATURES.FEATURES.MANAGE.DESCRIPTION</p>
            </div>

            <div class="feature col-lg-4 col-sm-6">
                <h3><i class="fa fa-bullhorn color-blue"></i> {{ 'MAIN.FEATURES.FEATURES.INFORM.TITLE' | translate }}</h3>
                <p translate>MAIN.FEATURES.FEATURES.INFORM.DESCRIPTION</p>
            </div>

            <div class="feature col-lg-4 col-sm-6">
                <h3><i class="fa fa-calendar color-red"></i> {{ 'MAIN.FEATURES.FEATURES.SCHEDULE.TITLE' | translate }}</h3>
                <p translate>MAIN.FEATURES.FEATURES.SCHEDULE.DESCRIPTION</p>
            </div>

            <div class="feature col-lg-4 col-sm-6">
                <h3><i class="fa fa-area-chart color-green feature-margin-top"></i> {{ 'MAIN.FEATURES.FEATURES.STATS.TITLE' | translate }}</h3>
                <p translate>MAIN.FEATURES.FEATURES.STATS.DESCRIPTION</p>
            </div>

            <div class="col-lg-4 col-lg-offset-0 col-sm-0">
                <div class="screen-computer"></div>
            </div>

            <div class="feature col-lg-4 col-sm-6">
                <h3><i class="fa fa-plug color-yellow feature-margin-top"></i> {{ 'MAIN.FEATURES.FEATURES.CLOSE.TITLE' | translate }}</h3>
                <p translate>MAIN.FEATURES.FEATURES.CLOSE.DESCRIPTION</p>
            </div>

            <div class="feature col-lg-offset-2 col-lg-4 col-sm-6">
                <h3><i class="fa fa fa-money color-blue"></i> {{ 'MAIN.FEATURES.FEATURES.BUSINESS.TITLE' | translate }}</h3>
                <p translate>MAIN.FEATURES.FEATURES.BUSINESS.DESCRIPTION</p>
            </div>

            <div class="feature col-lg-offset-0 col-lg-4 col-sm-6">
                <h3><i class="fa fa-music color-red"></i> {{ 'MAIN.FEATURES.FEATURES.MUSIC.TITLE' | translate }}</h3>
                <p translate>MAIN.FEATURES.FEATURES.MUSIC.DESCRIPTION</p>
            </div>
        </div>
    </div>
</section>-->

<div ng-include="'app/components/footer/footer.html'"></div>
