#features {
    background-color: #f2f2f5;
    padding-bottom: 40px;
}
@media(min-width:1217px) {
    #features {
        -webkit-box-shadow: inset 0px -19px 20px -14px rgba(0,0,0,0.29);
        -moz-box-shadow: inset 0px -19px 20px -14px rgba(0,0,0,0.29);
        box-shadow: inset 0px -19px 20px -14px rgba(0,0,0,0.29);    }
}

#features .section-divider {
    padding-top: 10px;
    margin-top: 0px;
}
@media(min-width:1217px) {
    #features .section-divider {
        padding-top: 30px;
    }
}

#features .section-divider p {
    color: #555459;
    line-height: 1;
    font-size: 30px;
    padding: 10px;
    text-shadow: 0 1px #fff;
}
@media(min-width:800px) {
    #features .section-divider p {
        font-size: 50px;
    }
}

#features .section-divider h3 {
    display:none;
}
@media(min-width:1217px) {
    #features .section-divider h3 {
        display:inline;
    }
}

#features .section-divider .feature-screen {
    display: none;
    margin-top:50px;
    background-image: url('//static.sheaker.com/sheaker/assets/images/screen-search.png');
    background-repeat: no-repeat;
    width: 792px;
    height: 233px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -6px -6px 6px #aaa, 6px -6px 6px #aaa
}
@media(min-width:1217px) {
    #features .section-divider .feature-screen {
        display: block;
    }
}

.feature {
    text-align: justify;
    padding-left: 0px;
}
@media(min-width:1217px) {
    .feature {
        padding-left: 40px;
    }
}

.features-container {
    text-align: justify;
    padding-top: 16px;
    margin-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 18px;
}

.feature h3 {
    font-size : 32px;
    text-shadow: 0 1px #fff;
}

@media(min-width:1200px) {
    .screen-computer {
        background-image: url("//static.sheaker.com/sheaker/assets/images/computer.png");
        width:360px;
        height:293px;
    }
    .feature {
        text-align: center;
    }
    .feature-margin-top{
        margin-top: 90px;
    }
 }
