/*
 * Welcome section
 */
.welcome-wrap {
    position: relative;
    background: none;
    color: #fff;
}
.welcome-wrap section {
    top: 0;
    left: 0;
}
.welcome-background {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e88e5+0,d9eaf9+100 */
    background: rgb(30,136,229); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(30,136,229,1) 0%, rgba(217,234,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,136,229,1)), color-stop(100%,rgba(217,234,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(30,136,229,1) 0%,rgba(217,234,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(30,136,229,1) 0%,rgba(217,234,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(30,136,229,1) 0%,rgba(217,234,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(30,136,229,1) 0%,rgba(217,234,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e88e5', endColorstr='#d9eaf9',GradientType=0 ); /* IE6-9 */

    width: 100%;
    height: 800px;
    background-position: center bottom;
}

.welcome {
    color: #fff;
    padding-top: 10px;
    position: relative;
    z-index: 10;
    padding-bottom: 35px;
}

.title {
    font-weight: 900;
    margin-top: 40px;
}

.title span {
    display: block;
}

.title .upper {
        font-family: 'Lato', sans-serif;
        font-size: 55px;
        letter-spacing: 1px;
        line-height: 100px;
}

.title .upper-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}

.welcome .title .middle {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: 400;
    color: #EEEEEE;
}
@media(min-width:1024px) {
    .welcome .title .middle{
        font-size: 25px;
        margin-top: 90px;
    }
}

.welcome .title .bottom {
    margin-top: 30px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #EEEEEE;
    font-weight: 400;
}
@media(min-width:1024px) {
    .welcome .title .bottom{
        margin-top: 100px;
    }
}

.welcome .btn {
    font-size: 40px;
    font-weight: normal;
    border: none;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media(min-width:1024px) {
    .welcome .btn{
    display:inline;
    }
}

.welcome .btn-version {
    color: #fff;
    background-color: #AC292B;
    padding: 5px;
    border-radius: 3px;
    text-decoration:none;
    display: none;
}
.welcome .btn-version:hover,
.welcome .btn-version:focus,
.welcome .btn-version:active {
    color: #fff;
    background-color: #8d2123;
    border-color: #204d74;
}
@media(min-width:1024px) {
    .welcome .btn-version{
    display:inline;
    }
}

.btn-go {
    color: #fff;
    background-color: #2B88BB;
}
.btn-go:hover,
.btn-go:focus,
.btn-go:active {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}


/*
 * Intro section
 */
#intro {
    background-color: #fff;
    border-bottom: 1px solid #DDD;
}

#intro .section-divider {
    padding-top: 10px;
    border-bottom: 3px solid #DDD;
}
#intro .section-divider p{
    text-align: center;
}
@media(min-width:1217px) {
    #intro .section-divider p{
        padding-top: 60px;
    }
}
#intro .section-divider h3 {
    display:none;
    font-size : 32px;
    color: #fff;
    font-weight: 400;
}
@media(min-width:1217px) {
    #intro .section-divider h3{
        display:block;
    }
}

#intro .section-divider .mockup-iphone {
    display:none;
    float: left;
    background-image: url('//static.sheaker.com/sheaker/assets/images/mockup-iphone.png');
    background-repeat: no-repeat;
    width: 380px;
    height: 344px;
}
@media(min-width:1217px) {
    #intro .section-divider .mockup-iphone{
        display:block;
    }
}

#intro .introduction-text {
    text-align: justify;
    padding-top: 14px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    text-shadow: 0 1px #d2d4e3;
    font-weight: 400;
}
@media(min-width:1217px) {
    #intro .introduction-text{
    margin-bottom: 25px;
    padding-top: 5px;
    }
}

#intro .introduction-text .fa {
    margin-top: -15px;
    font-size: 110px;
    opacity: 0.15;
    position: absolute;
    width: 77.5%;
    text-align: center;
    color: #999999;
}
#intro .introduction-container {
    margin-bottom: -395px;
}
@media(min-width:1217px) {
    #intro .introduction-container{
    margin-right: 700px;
    }
}

#intro .intro-screen {
    display: none;
    margin-top:50px;
    float: right;
    background-image: url('//static.sheaker.com/sheaker/assets/images/screen-add.png');
    background-repeat: no-repeat;
    box-shadow: -6px -6px 6px #aaa;
    width: 600px;
    height: 348px;
}
@media(min-width:1217px) {
    #intro .intro-screen{
    display:inline;
    }
}


/*
 * Features section
 */
#features {
    border-top: 1px solid #DDD;
    background-color: #fff;
    padding-bottom: 40px;
    padding-top: 40px;
    color: #9f9f9f;
    font-weight: 500;
}
@media(min-width:1217px) {
    #features {
        -webkit-box-shadow: inset 0px -19px 20px -14px rgba(0,0,0,0.29);
        -moz-box-shadow: inset 0px -19px 20px -14px rgba(0,0,0,0.29);
        box-shadow: inset 0px -19px 20px -14px rgba(0,0,0,0.29);    }
}

#features .section-divider {
    padding-top: 10px;
    margin-top: 0px;
}
@media(min-width:1217px) {
    #features .section-divider {
        padding-top: 30px;
    }
}

#features .section-divider > p {
    color: #4A4A4A;
    line-height: 1;
    font-size: 30px;
    padding: 10px;
}
@media(min-width:800px) {
    #features .section-divider p {
        font-size: 50px;
    }
}

#features .section-divider h3 {
    display:none;
}
@media(min-width:1217px) {
    #features .section-divider h3 {
        display:inline;
    }
}

#features .section-divider .feature-screen {
    display: none;
    margin-top:50px;
    background-image: url('//static.sheaker.com/sheaker/assets/images/screen-search.png');
    background-repeat: no-repeat;
    width: 792px;
    height: 233px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -6px -6px 6px #aaa, 6px -6px 6px #aaa
}
@media(min-width:1217px) {
    #features .section-divider .feature-screen {
        display: block;
    }
}

.feature {
    text-align: justify;
    padding-left: 0px;
}
@media(min-width:1217px) {
    .feature {
        padding-left: 40px;
    }
}

.features-container {
    text-align: justify;
    padding-top: 16px;
    margin-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 18px;
}

.feature h3 {
    font-size : 32px;
    text-shadow: 0 1px #fff;
    color: #4f4f4f;
}

/* Carousel */
.carousel {
    position: absolute;
    left: calc(50% - 400px);
    bottom: 0;
    width: 800px;
    height: 480px;
}
.carousel-caption {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2989d8+0,ffffff+100&amp;0+33,1+100 */
background: -moz-linear-gradient(top,  rgba(41,137,216,0) 0%, rgba(112,176,229,0) 33%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,137,216,0)), color-stop(33%,rgba(112,176,229,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(41,137,216,0) 0%,rgba(112,176,229,0) 33%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(41,137,216,0) 0%,rgba(112,176,229,0) 33%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(41,137,216,0) 0%,rgba(112,176,229,0) 33%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(41,137,216,0) 0%,rgba(112,176,229,0) 33%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002989d8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.carousel-control {
    display: none;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-indicators{
    top: -20px;
 }

 .carousel-indicators .active,
 .carousel-indicators li{
     margin-right: 5px;
  }

.carousel-caption > .explain-caption{
    position: absolute;
    bottom: 10px;
    left: calc( 50% - 175px);
    text-align: left;
    font-size: 21px;
    color: #4a4a4a;
    text-shadow: none;
}

.carousel-caption > .explain-caption > .slide {
    font-weight: 400;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 20px 0px #ffffff;
    -webkit-box-shadow: 0px 0px 20px 0px #ffffff;
    -o-box-shadow: 0px 0px 20px 0px #ffffff;
    box-shadow: 0px 0px 20px 0px #ffffff;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff, Direction=NaN, Strength=20);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.carousel-caption > .explain-caption > .slide-1{
    width: 250px;
    height: 100px;
    margin-left: -150px;
    margin-top: -150px;
}

.carousel-caption > .explain-caption > .slide-2{
    width: 250px;
    height: 100px;
    margin-left: 200px;
    margin-top: -170px;
}

.carousel-caption > .explain-caption > .slide-3{
    width: 250px;
    height: 100px;
    margin-left: -150px;
    margin-top: -200px;
}

/* End Carousel */
@media(min-width:1200px) {
    .screen-computer {
        background-image: url("/assets/images/circle-feature.png");
        width:360px;
        height:293px;
        margin-left: -30px;
    }
    .feature {
        text-align: left;
    }
    .feature-margin-top{
        margin-top: 90px;
    }
}
