#intro {
    background-color: #d7ebf6;
    border-bottom: 1px solid #DDD;
}

#intro .section-divider {
    padding-top: 10px;
    border-bottom: 3px solid #DDD;
}
#intro .section-divider p{
    text-align: center;
}
@media(min-width:1217px) {
    #intro .section-divider p{
        padding-top: 60px;
    }
}
#intro .section-divider h3 {
    display:none;
    font-size : 32px;
    color: #fff;
    font-weight: 300;
}
@media(min-width:1217px) {
    #intro .section-divider h3{
        display:block;
    }
}

#intro .section-divider .mockup-iphone {
    display:none;
    float: left;
    background-image: url('//static.sheaker.com/sheaker/assets/images/mockup-iphone.png');
    background-repeat: no-repeat;
    width: 380px;
    height: 344px;
}
@media(min-width:1217px) {
    #intro .section-divider .mockup-iphone{
        display:block;
    }
}

#intro .introduction-text {
    text-align: justify;
    padding-top: 14px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    text-shadow: 0 1px #d2d4e3;
    font-weight: 400;
}
@media(min-width:1217px) {
    #intro .introduction-text{
    margin-bottom: 25px;
    padding-top: 5px;
    }
}

#intro .introduction-text .fa {
    margin-top: -15px;
    font-size: 110px;
    opacity: 0.15;
    position: absolute;
    width: 77.5%;
    text-align: center;
    color: #999999;
}
#intro .introduction-container {
    margin-bottom: -395px;
}
@media(min-width:1217px) {
    #intro .introduction-container{
    margin-right: 700px;
    }
}

#intro .intro-screen {
    display: none;
    margin-top:50px;
    float: right;
    background-image: url('//static.sheaker.com/sheaker/assets/images/screen-add.png');
    background-repeat: no-repeat;
    box-shadow: -6px -6px 6px #aaa;
    width: 600px;
    height: 348px;
}
@media(min-width:1217px) {
    #intro .intro-screen{
    display:inline;
    }
}
