#create {
    background-color: #fff;
}

@media(max-width:991px) {
  #create .create-img-font {
      display: none;
  }
}

@media(min-width:992px) {
  #create .create-img-font {
      background-color: #f2d792;
      background-color: #f9f9f9;
      background: linear-gradient(to bottom,#328890 0,#4ac0bf 100%);
      height: 651px;
      color: #fff;
  }

  #create .create-img-font h1 {
    font-size: 100px;
    text-align: center;
    margin-top: 250px;
  }

  #create .create-img-font h2 {
    font-size: 100px;
    text-align: center;
  }
}

#create .create-img {
    display: none
}

@media(min-width:992px) {
    #create .create-img {
        margin: auto;
        bottom: 0;
        padding: 0;
        width: 600px;
        height:428px;
        margin-top: 224px;
        background-image: url("/assets/images/create.png");
        display: block;
    }
}

@media(min-width:992px) {
  #create .form-create {
      margin-top: 100px;
      margin-bottom: 150px;
  }
}

#create .form-create {
    margin-top: 20px;
    margin-bottom: 150px;
}

#create .form-create label{
    font-size : 17px;
    font-weight: 400;
}

#create .form-create input{
    height: 50px;
    font-size : 22px;
    font-weight: 400;
}

#create .form-create h1 {
    font-size : 32px;
    font-weight: 400;
    color: #f54785;
    margin-bottom: 20px;
}

#create .btn-submit {
    margin-top: 40px;
    font-size : 25px;
    color: #fff;
    color: #fff;
    background-color: #f54785;
}

#create .btn-submit:disabled {
    margin-top: 40px;
    font-size : 25px;
    color: #fff;
    background-color: #afafaf;
}
