#create .create-img-font {
    background-color: #f2d792;
    background-color: #f9f9f9;

}

#create .create-img {
    display: none
}

@media(min-width:992px) {
    #create .create-img {
        margin-top: 180px;
        margin-bottom: 152px;
        margin-left: auto;
        width: 195px;
        height: 386px;
        background-image: url("//static.sheaker.com/sheaker/assets/images/create.png");
        display: block;
    }
}

#create .form-create {
    margin-top: 100px;
}

#create .form-create label{
    font-size : 17px;
    font-weight: 400;
}

#create .form-create input{
    height: 50px;
    font-size : 22px;
    font-weight: 400;
}

#create .form-create h1 {
    font-size : 32px;
    font-weight: 200;
    color: #4A4A4A;
    margin-bottom: 20px;
}

#create .btn-submit {
    margin-top: 40px;
    font-size : 25px;
    color: #fff;
    background-color: #7CB342;
}

#create .btn-submit:disabled {
    margin-top: 40px;
    font-size : 25px;
    color: #fff;
    background-color: #afafaf;
}
