@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic,900,300,300italic);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
    /*padding-top: 50px;*/
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #555459;
    text-rendering: optimizeLegibility;
}

.section-divider {
    margin-top: 0px;
    margin-bottom: 50px;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    border-bottom: 1px solid #DDD;
}
.section-divider p {
    color: #fff;
    line-height: 1;
    font-size: 30px;
    padding: 10px;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}
@media(min-width:800px) {
    .section-divider p {
        font-size: 50px;
    }
}

.row-no-margin {
    margin-left: 0px;
    margin-right: 0px;
}

/*
 * Intro section
 */
#intro {
    background-color: #fff;
    border-top: 1px solid #DDD;
    color: #9f9f9f;
    font-weight: 500;
}

#intro .intro-container {
    padding-top: 16px;
    margin-bottom: 50px;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}
@media(min-width:750px) {
    #intro .intro-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media(min-width:970px) {
    #intro .intro-container {
        padding-left: 60px;
        padding-right: 60px;
    }
}

#intro .intro-browser{
    display: none;
}
@media(min-width:992px) {
    #intro .intro-browser{
      display: block;
      background-image: url("//static.sheaker.com/sheaker/assets/images/browser.png");
      width:478px;
      height:305px;
      opacity: 0.6;
      margin-top: 90px;
    }
}
@media(min-width:1200px) {
    #intro .intro-browser{
      margin-top: 10px;
    }
}

#intro .intro-everywhere{
    display: none;
}
@media(min-width:992px) {
    #intro .intro-everywhere{
      display: block;
      background-image: url("//static.sheaker.com/sheaker/assets/images/everywhere.png");
      width:478px;
      height:305px;
      opacity: 0.6;
      margin-top: 30px;
    }
}
@media(min-width:1200px) {
    #intro .intro-everywhere{
      margin-top: 10px;
    }
}

.separator {
  border-top: 1px solid #DDD;
}

#intro h2{
  font-size : 35px;
  font-weight: 400;
  color: #f54785;
  margin-bottom: 15px;
  padding-left: 25px;
  margin-top: 60px;
}

#intro .align-left{
  text-align: left;
}

#intro .align-right{
  text-align: right;
}

#intro p{
  padding-left: 22px;
  text-align: left;
  font-size : 20px;
  opacity: .75;
  color: #4A4A4A;
}

/* Color set */

.color-background-yellow {
    background-color: #FFB300;
}

.color-yellow {
    color: #FFB300;
}

.color-background-green {
    background-color: #7CB342;
}

.color-green {
    color: #7CB342;
}

.color-background-red {
    background-color: #E53935;
}

.color-red {
    color: #E53935;
}

.color-background-blue {
    background-color: #1E88E5;
}
.color-blue {
    color: #1E88E5;
}

.color-background-grey {
    background-color: #DCDCDC;
}

.color-grey {
    color: #DCDCDC;
}

.color-background-grey-dark {
    background-color: #757575;
}

.color-grey-dark {
    color: #919191;
}

.color-background-blue-grey {
    background-color: #546E7A;
}

.color-blue-grey {
    color: #546E7A;
}

.color-background-white {
    background-color: #FFFFFF;
}

.color-white {
    color: #FFFFFF;
}

.color-pink {
    color: #f54785;
}

/* End color set */
.strong {
    font-weight: 700;
}

.lite {
    font-weight: 200;
}
