@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic,900,300,300italic);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
    /*padding-top: 50px;*/
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #555459;
    text-rendering: optimizeLegibility;
}

.section-divider {
    margin-top: 0px;
    margin-bottom: 50px;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    border-bottom: 1px solid #DDD;
}
.section-divider p {
    color: #fff;
    line-height: 1;
    font-size: 30px;
    padding: 10px;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}
@media(min-width:800px) {
    .section-divider p {
        font-size: 50px;
    }
}

.row-no-margin {
    margin-left: 0px;
    margin-right: 0px;
}

/* Color set */

.color-background-yellow {
    background-color: #FFB300;
}

.color-yellow {
    color: #FFB300;
}

.color-background-green {
    background-color: #7CB342;
}

.color-green {
    color: #7CB342;
}

.color-background-red {
    background-color: #E53935;
}

.color-red {
    color: #E53935;
}

.color-background-blue {
    background-color: #1E88E5;
}
.color-blue {
    color: #1E88E5;
}

.color-background-grey {
    background-color: #DCDCDC;
}

.color-grey {
    color: #DCDCDC;
}

.color-background-grey-dark {
    background-color: #757575;
}

.color-grey-dark {
    color: #919191;
}

.color-background-blue-grey {
    background-color: #546E7A;
}

.color-blue-grey {
    color: #546E7A;
}

.color-background-white {
    background-color: #FFFFFF;
}

.color-white {
    color: #FFFFFF;
}

/* End color set */
.strong {
    font-weight: 700;
}

.lite {
    font-weight: 200;
}
