#product {
    background-color: #fff;
}

#product .title-divider {
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f9f9f9;
    text-align: center;
}

 #product .title-divider .title h1 {
     font-size: 50px;
     font-weight: 900;
     letter-spacing: -1px;
     color: #2B3645;
 }

 #product .title-divider .title h3 {
     font-size: 25px;
     font-weight: 500;
     color: #68686F;
     opacity: 0.7;
 }

#product > #product-simple-things > .container > h1 {
   text-align: center;
   font-size : 50px;
   font-weight: 400;
   color: #4A4A4A;
   margin-bottom: 75px;
   opacity: 0.9;
 }

#product .features li {
    color: #4A4A4A;
    font-size: 30px;
    list-style-type: none;
    margin-top: 20px;
 }

#product .features li:hover {
     opacity: 0.9;
 }

#product .features li {
     opacity: 0.5;
 }

#product #product-simple-things .simple-things > .nav-features > .features > .opacity-strong {
     opacity: 0.9;
 }

 #product #product-simple-things .simple-things > .nav-features {
     background-color: #f9f9f9;
     width: 270px;
     height: 275px;
     margin-left: auto;
     margin-right: auto;
     border: 8px dashed #DDD;
     border-radius: 30px;
  }

 #product .features li > a > .icone {
    width: 60px;
    height: 60px;
    color: #FFFFFF;
    font-size: 35px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 8px;
 }

 #product .features li > a > h1 {
     color: #4A4A4A;
     font-weight: bold;
     font-size : 22px;
     text-shadow: 0 1px #fff;
     opacity: 0.6;
 }

 #product > #product-simple-things > .container > .simple-things > .title {
     border-bottom: 1px solid #DDD;
 }

 #product > #product-simple-things > .container > .simple-things > .title > h1 {
     font-size: 40px;
     font-weight: 500;
     color: #68686F;
     opacity: 0.8;
 }

 #product > #product-simple-things > .container > .simple-things > p {
     font-size: 30px;
     padding: 10px;
 }

  #product > #product-simple-things {
      margin-bottom: 100px;
  }

 #product > #ergonomics {
     padding-top: 50px;
     background-color: rgba(30, 139, 229, 0.7);
 }

 #product > #ergonomics > .container > h1 {
    text-align: center;
    font-size : 50px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 75px;
    opacity: 1;
  }

  #product > #security {
      padding-top: 40px;
      padding-bottom: 40px;
  }

  #product > #security > .container > h1 {
     text-align: center;
     font-size : 50px;
     font-weight: 400;
     margin-bottom: 75px;
     opacity: 1;
   }
