<div id="container" ng-controller="ProductController">
  <section id="navbar-extend">
    <div ng-include="'app/components/navbar/navbar.html'"></div>
  </section>
  <section id="product">
      <div class="title-divider">
          <div class="title">
              <h1 translate>PRODUCT.TITLE</h1>
              <h3 translate>PRODUCT.DESCRIPTION</h3>
              <div class="img-title"></div>
          </div>
      </div>
      <!--<section id="product-simple-things">
      <div class="container">
          <div class="connect-group">
              <div class="col-lg-6">
                  <div class="connect-link"></div>
              </div>
              <div class="col-lg-6">
                <div class="connect-link-inv"></div>
              </div>
          </div>
          <div class="col-lg-6 simple-things">
              <div class="nav-features">
                  <ul class="features">
                      <li class="col-lg-12" ng-class="{'opacity-strong': featureToAff === 1}">
                          <a ng-click="onClick(1)"><div class="col-lg-4 icone color-background-blue"><i class="fa fa-users fa-fw"></i></div>
                              <h1 class="col-lg-8" translate>PRODUCT.FEATURES.CLIENTS.TITLE</h1>
                          </a>
                      </li>
                      <li class="col-lg-12" ng-class="{'opacity-strong': featureToAff === 2}">
                          <a ng-click="onClick(2)"><div class="col-lg-4 icone color-background-red"><i class="fa fa-home fa-fw"></i></div>
                              <h1 class="col-lg-8" translate>PRODUCT.FEATURES.GYM.TITLE</h1>
                          </a>
                      </li>
                      <li class="col-lg-12" ng-class="{'opacity-strong': featureToAff === 3}">
                          <a ng-click="onClick(3)"><div class="col-lg-4 icone color-background-green"><i class="fa fa-money fa-fw"></i></div>
                              <h1 class="col-lg-8" translate>PRODUCT.FEATURES.MONEY.TITLE</h1>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-6 simple-things" ng-show="featureToAff==1">
              <p translate>PRODUCT.FEATURES.CLIENTS.DESCRIPTION</p>
          </div>
          <div class="col-lg-6 simple-things" ng-show="featureToAff==2">
              <p translate>PRODUCT.FEATURES.GYM.DESCRIPTION</p>
          </div>
          <div class="col-lg-6 simple-things" ng-show="featureToAff==3">
              <p translate>PRODUCT.FEATURES.MONEY.DESCRIPTION</p>
          </div>
      </div>
    </section>-->
    <section id="intro">
        <div class="container intro-container">
            <div class="col-lg-6 col-md-5">
                <h2 class="align-left" translate>MAIN.INTRO.BROWSER.TITLE</h2>
                <p translate>MAIN.INTRO.BROWSER.DESCRIPTION</p>
            </div>
            <div class="col-lg-6 col-md-7 intro-browser"></div>
        </div>
        <div class="separator"></div>
        <div class="container intro-container">
            <div class="col-lg-6 col-md-7 intro-everywhere"></div>
            <div class="col-lg-6 col-md-5">
                <h2 class="align-right" translate>MAIN.INTRO.EVERYWHERE.TITLE</h2>
                <p class="align-right" translate>MAIN.INTRO.EVERYWHERE.DESCRIPTION</p>
            </div>
        </div>
    </section>
      <section id="ergonomics">
          <div class="container">
              <div class="col-sm-6">
                  <h1 translate>PRODUCT.ERGONOMICS.TITLE</h1>
                  <p translate>PRODUCT.ERGONOMICS.DESCRIPTION</p>
              </div>
              <div class="col-sm-6">
                  <div class="ergonomics-img"></div>
              </div>
          </div>
      </section>
      <section id="security">
          <div class="container">
              <h1 translate>PRODUCT.SECURITY.TITLE</h1>
              <div class="col-lg-offset-3 col-lg-6">
                  <div class="security-img"></div>
                  <p translate>PRODUCT.SECURITY.DESCRIPTION</p>
              </div>
          </div>
      </section>
      <section id="features">
          <div class="container features-container">
            <h1 translate>MAIN.FEATURES.TITLE</h1>
              <div class="row row-no-margin">
                  <div class="feature col-lg-4 col-sm-6">
                      <h3><i class="fa fa fa-users color-pink"></i> {{ 'MAIN.FEATURES.FEATURES.MANAGE.TITLE' | translate }}</h3>
                      <p translate>MAIN.FEATURES.FEATURES.MANAGE.DESCRIPTION</p>
                  </div>

                  <div class="feature col-lg-4 col-sm-6">
                      <h3><i class="fa fa-bullhorn color-pink"></i> {{ 'MAIN.FEATURES.FEATURES.INFORM.TITLE' | translate }}</h3>
                      <p translate>MAIN.FEATURES.FEATURES.INFORM.DESCRIPTION</p>
                  </div>

                  <div class="feature col-lg-4 col-sm-6">
                      <h3><i class="fa fa-calendar color-pink"></i> {{ 'MAIN.FEATURES.FEATURES.SCHEDULE.TITLE' | translate }}</h3>
                      <p translate>MAIN.FEATURES.FEATURES.SCHEDULE.DESCRIPTION</p>
                  </div>

                  <div class="feature col-lg-4 col-sm-6">
                      <h3><i class="fa fa-area-chart color-pink feature-margin-top"></i> {{ 'MAIN.FEATURES.FEATURES.STATS.TITLE' | translate }}</h3>
                      <p translate>MAIN.FEATURES.FEATURES.STATS.DESCRIPTION</p>
                  </div>

                  <div class="col-lg-4 col-lg-offset-0 col-sm-0">
                      <div class="screen-computer"></div>
                  </div>

                  <div class="feature col-lg-4 col-sm-6">
                      <h3><i class="fa fa-plug color-pink feature-margin-top"></i> {{ 'MAIN.FEATURES.FEATURES.CLOSE.TITLE' | translate }}</h3>
                      <p translate>MAIN.FEATURES.FEATURES.CLOSE.DESCRIPTION</p>
                  </div>

                  <div class="feature col-lg-offset-2 col-lg-4 col-sm-6">
                      <h3><i class="fa fa fa-money color-pink"></i> {{ 'MAIN.FEATURES.FEATURES.BUSINESS.TITLE' | translate }}</h3>
                      <p translate>MAIN.FEATURES.FEATURES.BUSINESS.DESCRIPTION</p>
                  </div>

                  <div class="feature col-lg-offset-0 col-lg-4 col-sm-6">
                      <h3><i class="fa fa-music color-pink"></i> {{ 'MAIN.FEATURES.FEATURES.MUSIC.TITLE' | translate }}</h3>
                      <p translate>MAIN.FEATURES.FEATURES.MUSIC.DESCRIPTION</p>
                  </div>
              </div>
          </div>
      </section>
  </section>
    <div ng-include="'app/components/footer/footer.html'"></div>
</div>
