#product {
    background-color: #fff;
}

#product .title-divider {
    padding-top: 100px;
    background-color: #f9f9f9;
    background-color: #4ff547;
    background-color: rgba(154, 269, 166, 0.5);
    background-color: #00B0B9;
    text-align: center;
}

#product .title-divider .img-title{
}

@media(min-width:400px) {
    #product .title-divider .img-title{
        background-image: url("//static.sheaker.com/sheaker/assets/images/productfont.png");
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        width:370px;
        height:187px;
        margin-top: -90px;
    }
}

@media(min-width:600px) {
    #product .title-divider .img-title{
        width:550px;
        height:278px;
        margin-top: -120px;
    }
}

@media(min-width:800px) {
    #product .title-divider .img-title{
        width:800px;
        height:404px;
        margin-top: -170px;
    }
}

 #product .title-divider .title h1 {
     font-size: 40px;
     font-weight: 900;
     letter-spacing: -1px;
     color: #2B3645;
     margin-top: -50px;
 }

 @media(min-width:400px) {
     #product .title-divider .title h1 {
         font-size: 30px;
         margin-top: -50px;
     }
 }

 @media(min-width:600px) {
     #product .title-divider .title h1 {
         font-size: 40px;
         margin-top: -35px;
     }
 }

 @media(min-width:800px) {
     #product .title-divider .title h1 {
         font-size: 50px;
         margin-top: 20px;
     }
 }

 #product .title-divider .title h3 {
     font-size: 13px;
     margin-top: -10px;
     padding-bottom: 30px;
     font-weight: 500;
     color: #68686F;
     opacity: 0.7;
 }

 @media(min-width:400px) {
     #product .title-divider .title h3 {
         font-size: 15px;
         margin-top: -10px;
         padding-bottom: 0px;
     }
 }

 @media(min-width:600px) {
     #product .title-divider .title h3 {
         font-size: 20px;
         margin-top: -10px;

     }
 }

 @media(min-width:800px) {
     #product .title-divider .title h3 {
         font-size: 25px;
     }
 }

 #product > #product-simple-things {
     padding-top: 80px;
     padding-bottom: 0px;
 }
 @media(min-width:1200px) {
     #product > #product-simple-things {
         padding-top: 0px;
         padding-bottom: 100px;
     }
 }

#product > #product-simple-things > .container > h1 {
   text-align: center;
   font-size : 50px;
   font-weight: 400;
   color: #4A4A4A;
   opacity: 0.9;
 }

 #product > #product-simple-things .connect-group {
     display: none;
 }

 @media(min-width:1200px) {
     #product > #product-simple-things .connect-group {
         display: block;
     }
 }


 #product > #product-simple-things .connect-link {
     width: 40px;
     height: 140px;
     border: 8px dashed #DDD;
     background-color: #f9f9f9;
     margin-left: auto;
     margin-right: auto;
 }

 #product > #product-simple-things .connect-link-inv {
     width: 40px;
     height: 140px;
     margin-left: auto;
     margin-right: auto;
 }


 #product #product-simple-things .simple-things > .nav-features > .features > .opacity-strong {
      opacity: 0.9;
  }

  #product #product-simple-things .simple-things > .nav-features {
      height: 100px;
      margin-left: 0px;
      border-radius: 30px;
      padding-top: 12px;
   }

   @media(min-width:1200px) {
       #product #product-simple-things .simple-things > .nav-features {
           background-color: #f9f9f9;
           width: 270px;
           height: 275px;
           border: 8px dashed #DDD;
           border-radius: 30px;
           margin-top: 0px;
           margin: auto;
           padding-top: 0px;
       }
   }

#product .features {
    padding: 0;
}
@media(min-width:1200px) {
    #product .features {
        padding-left: 40px;
    }
}

#product .features li {
    color: #4A4A4A;
    font-size: 30px;
    list-style-type: none;
    margin-top: 20px;
    opacity: 0.3;
    display: inline;
 }
 @media(min-width:1200px) {
     #product .features li {
         display: block;
     }
 }

#product .features li:hover {
     opacity: 0.9;
 }

#product .features li > a:hover,
#product .features li > a:active {
    text-decoration: none;
}

 #product .features li > a > .icone {
    width: 60px;
    height: 60px;
    color: #FFFFFF;
    font-size: 35px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 8px;
    display: inline-block;
 }
 @media(min-width:1200px) {
     #product .features li > a > .icone {
         display: block;
     }
 }

 #product .features li > a > h1 {
     display: none;
 }

 @media(min-width:1200px) {
     #product .features li > a > h1 {
         display: block;
         color: #4A4A4A;
         font-weight: bold;
         font-size : 22px;
         text-shadow: 0 1px #fff;
         opacity: 0.6;
     }
 }

 #product > #product-simple-things > .container > .simple-things > .title {
     border-bottom: 1px solid #DDD;
 }

 #product > #product-simple-things > .container > .simple-things li{
     padding-right: 5px;
     padding-left: 0;
 }

 #product > #product-simple-things > .container > .simple-things > .title > h1 {
     font-size: 40px;
     font-weight: 500;
     color: #68686F;
     opacity: 0.8;
 }

 #product > #product-simple-things > .container > .simple-things > p {
     font-size : 24px;
     font-weight: 400;
     color: #68686F;

     opacity: 0.9;
     margin-top: 30px;
 }

  #product > #product-simple-things {
      margin-bottom: 100px;
  }

 #product > #ergonomics {
     padding-top: 50px;
     background-color: rgba(30, 139, 229, 0.6);
     background-color: #00B0B9;
     padding-bottom: 50px;
     border-bottom: 8px solid #DDD;
 }


 #product > #ergonomics > .container h1 {
    text-align: left;
    font-size : 50px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 35px;
    opacity: 1;
}

#product > #ergonomics > .container p {
    font-size : 24px;
    font-weight: 400;
    color: #68686F;
    padding-right: 30px;
}

 #product > #ergonomics .ergonomics-img{
 }

 @media(min-width:300px) {
     #product > #ergonomics .ergonomics-img{
         background-image: url("//static.sheaker.com/sheaker/assets/images/ergonomic.png");
         background-size: contain;
         margin-left: auto;
         margin-right: auto;
         width:300px;
         height:191px;
         opacity: 0.9;
     }
 }

 @media(min-width:600px) {
     #product > #ergonomics .ergonomics-img{
         width:478px;
         height:305px;
         background-size: cover;
     }
 }

#product > #security {
      padding-top: 40px;
      padding-bottom: 40px;
      font-size : 24px;
}

#product > #security > .container > h1 {
     text-align: center;
     font-size : 50px;
     font-weight: 900;
     margin-bottom: 15px;
     opacity: 1;
 }

 #product > #security > .container p {
     font-size : 24px;
     font-weight: 400;
     color: #68686F;
     padding-right: 30px;
     opacity: 0.9;
  }

#product > #security .security-img{
   background-image: url("//static.sheaker.com/sheaker/assets/images/security.png");
   width:260px;
   height:219px;
   margin-bottom: 40px;
   margin-left: auto;
   margin-right: auto;
   opacity: 0.9;
 }


 /*
  * Features section
  */
 #features {
     border-top: 1px solid #DDD;
     background-color: #F7F5F3;
     padding-bottom: 40px;
     padding-top: 40px;
     color: #9f9f9f;
     font-weight: 500;
 }

 .feature {
     text-align: justify;
     padding-left: 0px;
     color: #4A4A4A;
 }
 @media(min-width:1217px) {
     .feature {
         padding-left: 40px;
     }
 }

 .features-container {
     padding-top: 16px;
     margin-bottom: 50px;
     padding-left: 60px;
     padding-right: 60px;
     text-align: justify;
 }

 @media(min-width:1200px) {
     .screen-computer {
         background-image: url("/assets/images/circle-feature.png");
         width:360px;
         height:293px;
         margin-left: -30px;
     }
     .feature {
         text-align: left;
     }
     .feature-margin-top{
         margin-top: 90px;
     }
 }

 .features-container p{
     line-height: 22px;
     font-size: 18px;
     opacity: .75;
 }

 .features-container > h1 {
   text-align: center;
   font-size : 35px;
   font-weight: 900;
   color: #4A4A4A;
   margin-bottom: 55px;
 }
 @media(min-width:992px) {
     .features-container > h1 {
       font-size : 60px;
       margin-bottom: 75px;
     }
 }

 .feature > h3 {
     font-color: #4A4A4A;
     font-weight: bold;
     font-size : 18px;
     text-shadow: 0 1px #fff;
 }

 .feature > h3 > .fa{
   font-size : 20px;
   margin-right: 10px;
 }
