<div id="container" ng-controller="ProductController">
  <section id="navbar-extend">
    <div ng-include="'app/components/navbar/navbar.html'"></div>
  </section>
  <section id="product">
      <div class="title-divider">
          <div class="title">
              <h1>Only things that you need</h1>
              <h3>Everything is done to suit your needs, no more</h3>
          </div>
      </div>
      <section id="product-simple-things">
      <div class="container">
              <h1>With sheaker, is simple to manage your</h1>
              <div class="col-lg-6 simple-things">
                  <div class="nav-features">
                      <ul class="features">
                          <li class="col-lg-12" ng-class="{'opacity-strong': featureToAff===1}">
                              <a ng-click="onClick(1)"><div class="col-lg-4 icone color-background-blue"><i class="fa fa-users fa-fw"></i></div>
                                  <h1 class="col-lg-8">
                                      Clients
                                  </h1>
                              </a>
                          </li>
                          <li class="col-lg-12" ng-class="{'opacity-strong': featureToAff===2}">
                              <a ng-click="onClick(2)"><div class="col-lg-4 icone color-background-red"><i class="fa fa-home fa-fw"></i></div>
                                  <h1 class="col-lg-8">
                                      Gym
                                  </h1>
                              </a>
                          </li>
                          <li class="col-lg-12" ng-class="{'opacity-strong': featureToAff===3}">
                              <a ng-click="onClick(3)"><div class="col-lg-4 icone color-background-green"><i class="fa fa-money fa-fw"></i></div>
                                  <h1 class="col-lg-8">
                                      Money
                                  </h1>
                              </a>
                          </li>
                      </ul>
                </div>
              </div>
              <div class="col-lg-6 simple-things" ng-show="featureToAff==1">
                  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.tempor incididunt ut labore et dolore magna aliqua</p>
              </div>
              <div class="col-lg-6 simple-things" ng-show="featureToAff==2">
                  <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo . dolore magna aliqua</p>
              </div>
              <div class="col-lg-6 simple-things" ng-show="featureToAff==3">
                  <p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of .tut labore et dolore magna aliqua</p>
              </div>
          </div>
      </section>
      <section id="ergonomics">
          <div class="container">
          <h1>Ultra ergnomics</h1>
          <ul class="features">
              <li>coucou</li>
              </ul>
        </div>
      </section>
      <section id="security">
          <div class="container">
          <h1>Security</h1>
          <ul class="features">
              <li>coucou</li>
              </ul>
        </div>
      </section>
  </section>
    <div ng-include="'app/components/footer/footer.html'"></div>
</div>
