<div class="container-fluid">

  <div ng-include="'components/navbar/navbar.html'"></div>
  <div class="container">
  <div class="jumbotron col-md-12 text-center"  id="jumbo">
    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Search: <input ng-model="searchText"></div>
 <!-- <div class="panel-body">
    <p>...</p>
  </div> -->

  <!-- Table -->
  <table class="table table-bordered">
    <thead>
        <tr>
            <th data-field="id">ID</th>
            <th data-field="name">Name</th>
        </tr>
    </thead>

     <tbody>
        <tr ng-repeat="gym in gymlist | filter:searchText">
            <td data-field="id">{{gym.id}}</td>
            <td data-field="name">{{gym.name}}</td>
        </tr>
    </tbody>
  </table>
</div>
</div>
</div>

<div ng-include="'components/footer/footer.html'"></div>

